<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Croatia Daily Report Job Failed</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            The job to generate daily reports have failed, please fix as soon as possible.
        </p>
        <p>
            Job executed at 00:01am, daily report deadline is 01:00am
        </p>
        <p>
            <span th:text="#{email.completed.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Omega Gaming Ltd.</em>
        </p>
    </body>
</html>
