<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.failed.title}">Croatia Report Job Failed</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            The regular report job has failed, please investigate.
        </p>
        <p>
            Troublesome Transaction Id: <span th:text="${transactions.transactionID}"></span>
        </p>
        <p>
            Transaction Type: <span th:text="${transactions.transactionType}"></span>
        </p>
        <p>
            <span th:text="#{email.completed.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Omega Gaming Ltd.</em>
        </p>
    </body>
</html>
