<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.completed.title}">Croatia Status Change Job Completed</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.completed.jackpot}">
            Here are the most recent Jackpot changes:
        </p>
        <table>
            <tr>
                <th>Transaction ID</th>
                <th>Code</th>
                <th>Name</th>
                <th>Date</th>
                <th>Status</th>
                <th>Casino</th>
                <th>Product</th>
                <th>Personal ID</th>
                <th>Personal Name</th>
            </tr>
            <tr th:each="transaction: ${transactions}">
                <td th:text="${transaction.transactionID}"></td>
                <td th:text="${transaction.code}"></td>
                <td th:text="${transaction.name}"></td>
                <td th:text="${transaction.date}"></td>
                <td th:text="${transaction.status}"></td>
                <td th:text="${transaction.casino}"></td>
                <td th:text="${transaction.product}"></td>
                <td th:text="${transaction.personalID}"></td>
                <td th:text="${transaction.personalName}"></td>
            </tr>
        </table>
        <p>
            <span th:text="#{email.completed.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Omega Gaming Ltd.</em>
        </p>
    </body>
</html>
