<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.completed.title}">Croatia Status Change Job Completed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="#{email.completed.game}">
        Daily Table Game report
    </p>
    <table>
        <tr>
            <th>Date Of Report</th>
            <th>Date Generated</th>
            <th>Transaction ID</th>
            <th>Casino</th>
            <th>Game Code</th>
            <th>Pay-in Amount Real Money</th>
            <th>Pay-in Amount Released Bonus</th>
            <th>Pay-in Amount Playable Bonus</th>
            <th>Pay-out Amount Real Money</th>
            <th>Pay-out Amount Released Bonus</th>
            <th>Pay-out Amount Playable Bonus</th>
            <th>Jackpot Accumulated Amount Real Money</th>
            <th>Jackpot Accumulated Amount Released Bonus</th>
            <th>Jackpot Accumulated Amount Playable Bonus</th>
            <th>Jackpot Pay-out Accumulated Amount Real Money</th>
            <th>Jackpot Pay-out Accumulated Amount Released Bonus</th>
            <th>Jackpot Pay-out Accumulated Amount Playable Bonus</th>
        </tr>
        <tr th:each="transaction: ${transactions}">
            <td th:text="${transaction.dateOfReport}"></td>
            <td th:text="${transaction.dateGenerated}"></td>
            <td th:text="${transaction.transactionID}"></td>
            <td th:text="${transaction.casino}"></td>
            <td th:text="${transaction.gameCode}"></td>
            <td th:text="${transaction.payInAmountReal}"></td>
            <td th:text="${transaction.payInAmountReleasedBonus}"></td>
            <td th:text="${transaction.payInAmountPlayableBonus}"></td>
            <td th:text="${transaction.payOutAmountReal}"></td>
            <td th:text="${transaction.payOutAmountReleasedBonus}"></td>
            <td th:text="${transaction.payOutAmountPlayableBonus}"></td>
            <td th:text="${transaction.jackpotAccumulatedAmountReal}"></td>
            <td th:text="${transaction.jackpotAccumulatedAmountReleasedBonus}"></td>
            <td th:text="${transaction.jackpotAccumulatedAmountPlayableBonus}"></td>
            <td th:text="${transaction.jackpotPayoutAccumulatedAmountReal}"></td>
            <td th:text="${transaction.jackpotPayoutAccumulatedAmountReleasedBonus}"></td>
            <td th:text="${transaction.jackpotPayoutAccumulatedAmountPlayableBonus}"></td>
        </tr>
    </table>
    <p>
        <span th:text="#{email.completed.text2}">Regards, </span>
        <br/>
        <em th:text="#{email.signature}">Omega Gaming Ltd.</em>
    </p>
</body>
</html>
